機器學習是從過去的數據中找到潛在的模式或傾向，並對未來進行預測，在這過程中不可避免的要面對不確定性問題，因此需要應用機率與統計的方法來協助。

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Pokemon_index.csv", header=0)
df.head()

,Number,Name,Type1,Type2,HP,Attack,Defense,SpecialAtk,SpecialDef,Speed,Generation,Legendary
0,1,妙蛙種子,Grass,Poison,45,49,49,65,65,45,1,False
1,2,妙蛙草,Grass,Poison,60,62,63,80,80,60,1,False
2,3,妙蛙花,Grass,Poison,80,82,83,100,100,80,1,False
3,3,妙蛙花Mega,Grass,Poison,80,100,123,122,120,80,1,False
4,4,小火龍,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
df.info() #可看出Type2特徵有遺漏值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Number      894 non-null    int64
 1   Name        894 non-null    object
 2   Type1       894 non-null    object
 3   Type2       473 non-null    object
 4   HP          894 non-null    int64
 5   Attack      894 non-null    int64
 6   Defense     894 non-null    int64
 7   SpecialAtk  894 non-null    int64
 8   SpecialDef  894 non-null    int64
 9   Speed       894 non-null    int64
 10  Generation  894 non-null    int64
 11  Legendary   894 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 77.8+ KB

In [9]:
df.loc[:, 'HP':'SpecialDef'].describe()

               HP      Attack     Defense  SpecialAtk  SpecialDef
count  894.000000  894.000000  894.000000  894.000000  894.000000
mean    69.469799   79.848993   74.420582   73.428412   72.401566
std     25.670988   32.691003   31.323902   33.110134   27.963359
min      1.000000    5.000000    5.000000   10.000000   20.000000
25%     50.000000   55.000000   50.000000   50.000000   50.000000
50%     66.000000   75.000000   70.000000   65.000000   70.000000
75%     80.000000  100.000000   90.000000   95.000000   90.000000
max    255.000000  190.000000  230.000000  194.000000  230.000000

In [10]:
# 計算平均值
print('HP平均值', df['HP'].mean())

HP平均值 69.46979865771812

In [12]:
# 計算中位數
print('HP平均值', df['HP'].median())

HP平均值 66.0

In [13]:
# 計算眾數
print('HP眾數', df['HP'].mode())

HP眾數 0    60
dtype: int64

上述例子中，HP的眾數是60。最前面顯示的0是索引值，當有多個眾數時會逐一顯示，索引值則會以流水號遞增。

In [14]:
# 計算最大值，最小值與全距(range)
print('HP最大值', df['HP'].max())
print('HP最小值', df['HP'].min())
print('HP最全距', df['HP'].max() - df['HP'].min())

HP最大值 255
HP最小值 1
HP最全距 254